<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url('+persona.img2+')'}" class="example-header-image"></div>
    <mat-card-title>{{persona.titulo}}</mat-card-title>
    <mat-card-subtitle>{{persona.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{persona.img}}">
  <mat-card-content>
    <p> 
      {{persona.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="persona.social.addLike()">LIKE</button>
    <button mat-button (click)="persona.social.addUnlike()">UNLIKE</button>
  </mat-card-actions>
</mat-card>
<app-modulo-impresion [title]="'Like V2'" [output]="persona.social.like"></app-modulo-impresion>
<p><b>Like: </b>{{persona.social.like}}</p>
<p><b>Unlike: </b>{{persona.social.unlike}}</p>
<p><b>Total: </b>{{persona.social.like + persona.social.unlike}} </p>